* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-size: 33px;
}

h2 {
  font-family: "Ubuntu", serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
}

h3 {
  font-family: "Ubuntu", serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f9fafb;
  color: #111827;
  height: 100%;
}

.favorites_container {
  max-width: auto;
  margin: 0 auto;
  padding: 0;
}

/* Header */
.favorites_top_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 80px;
  font-weight: 500;
  font-size: 18px;
  color: #111827;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: none;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.nav_back_button {
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.nav_back_button img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: #111827;
  transition: filter 0.2s ease;
}

.nav_back_button:hover {
  filter: invert(83%) sepia(37%) saturate(1116%) hue-rotate(187deg)
    brightness(94%) contrast(92%);
}

.favorites_nav_title {
  flex-grow: 1;
  text-align: center;
}

.favorites_nav_title .nav_title {
  display: inline-block;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  padding: 4px 8px;
  white-space: nowrap;
  cursor: pointer;
  margin-right: 5px;
}

.favorites_nav_title .nav_title:nth-last-child(1) {
  background: #fff;
  color: #111827;
}

.nav_placeholder {
  width: 25px;
  height: 25px;
}

/* News Feed */
.favorites_news_feed {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  padding-bottom: 90px;
}

/* News Card */
.favorites_news_card {
  background: #fff;
  backdrop-filter: blur(10px);
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  width: 100%;
  border-radius: 30px;
}

.favorites_card_content {
  padding: 20px;
}

.favorites_card_title {
  margin-bottom: 15px;
}

.favorites_card_title a {
  text-decoration: none;
  color: #111827;
}

.favorites_card_information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorites_card_media {
  display: flex;
  align-items: center;
  gap: 10px;
}

.media_avatar img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;
}

.media_source {
  font-size: 14px;
  cursor: pointer;
}

.media_source a {
  text-decoration: none;
  color: #111827;
}

.favorites_card_icon {
  display: flex;
  gap: 20px;
}

.favorites_card_icon .icon_share,
.favorites_card_icon .icon_favorites {
  display: inline-block;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.favorites_card_icon .icon_favorites img,
.favorites_card_icon .icon_share img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.favorites_card_icon .icon_favorites img {
  transition: filter 0.2s ease;
}

.favorites_card_icon .icon_favorites.selected img {
  filter: invert(42%) sepia(93%) saturate(564%) hue-rotate(290deg)
    brightness(98%) contrast(92%);
}

.favorites_card_description {
  font-size: 16px;
  margin-bottom: 15px;
}

.favorites_card_description a {
  text-decoration: none;
  color: #111827;
}

.favorites_card_category {
  display: flex;
  gap: 8px;
  padding: 0;
}

.favorites_card_category .category {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 5.9px 12px;
  border-radius: 30px;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 15px;
}

.category:nth-child(1) {
  border: 1px solid #ff93d6;
  background: #fff;
  color: #ff93d6;
}

.category:nth-child(1):active {
  border: 1px solid #ffa8dd;
  background: #fff;
  color: #ffa8dd;
}

.category:nth-child(1):hover {
  border: 1px solid #ffa8dd;
  background: #fff;
  color: #ffa8dd;
}

.category:nth-last-child(1) {
  border: 1px solid #9bb9ed;
  background: #fff;
  color: #a1bef1;
}

.category:nth-last-child(1):hover {
  border: 1px solid #b8d2ff;
  background: #fff;
  color: #b8d2ff;
}

.category:nth-last-child(1):active {
  border: 1px solid #b8d2ff;
  background: #fff;
  color: #b8d2ff;
}

.icon_share,
.icon_favorites {
  display: inline-block;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.icon_favorites img,
.icon_share img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon_favorites img {
  transition: filter 0.2s ease;
}

.card_icon .icon_favorites.selected img {
  filter: invert(42%) sepia(93%) saturate(564%) hue-rotate(290deg)
    brightness(98%) contrast(92%);
}

.share_menu {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 100%;
  background: white;
  padding: 16px;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.4s ease, opacity 0.3s ease;
  z-index: 999;
}

.share_menu.block-visible {
  transform: translateX(-50%) translateY(0%);
  opacity: 1;
  pointer-events: auto;
  animation: slideBounceUp 0.5s ease;
}

@keyframes slideBounceUp {
  0% {
    transform: translateX(-50%) translateY(100%);
  }
  80% {
    transform: translateX(-50%) translateY(-10%);
  }
  100% {
    transform: translateX(-50%) translateY(0%);
  }
}

.share_title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
}

.copy_link {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  background: linear-gradient(135deg, #e06eb5, #82a6e4);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.share_link {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  background: rgba(170, 169, 173, 0.1);
  color: #111827;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.copy_link a {
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.copy_link:hover a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  transition: color 0.17s ease;
}

.copy_link:active a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  transition: color 0.17s ease;
}

.share_link a {
  font-size: 16px;
  text-decoration: none;
  color: #111827;
}

.share_link:hover a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.share_link:active a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.copy_link:hover {
  background: linear-gradient(135deg, #ff93d5, #9cc0ff);
}

.copy_link:active {
  background: linear-gradient(135deg, #ff93d5, #9cc0ff);
}

.share_link:hover {
  background: linear-gradient(135deg, #ff93d5, #9cc0ff);
}

.share_link:active {
  background: linear-gradient(135deg, #ff93d5, #9cc0ff);
}

.share_socials {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  margin-bottom: 30px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.share_socials::-webkit-scrollbar {
  display: none;
}

.social_btn {
  background: rgba(170, 169, 173, 0.1);
  padding: 6px 10px;
  border-radius: 8px;
  text-decoration: none;
  color: #111;
  font-size: 16px;
  transition: background 0.2s;
}

.social_btn a {
  text-decoration: none;
  color: #111827;
}

.social_btn:hover {
  background: #e0e0e0;
}

.social_btn:active {
  background: #e0e0e0;
}

/* Bottom navigation */

.bottom_nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(0);
  background: #fff;
  padding: 10px 20px 15px 20px;
  margin-top: 10px;
  height: 80px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.nav_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  outline: none;
  font-size: inherit;
  background: none;
  cursor: pointer;
}

.nav_item img {
  display: block;
}

.nav_item_home img {
  width: 23px;
  height: 23px;
  filter: brightness(0) saturate(100%) invert(52%) sepia(0%) saturate(0%)
    hue-rotate(0deg);
  transition: filter 0.2s ease;
}

.nav_item_favorites img {
  width: 20px;
  height: 20px;
  margin-bottom: 1px;
  filter: brightness(0) saturate(100%) invert(52%) sepia(0%) saturate(0%)
    hue-rotate(0deg);
  transition: filter 0.2s ease;
}

.nav_item_trends img {
  width: 21px;
  height: 21px;
  margin-bottom: 1px;
  filter: brightness(0) saturate(100%) invert(52%) sepia(0%) saturate(0%)
    hue-rotate(0deg);
  transition: filter 0.2s ease;
}

.nav_item_settings img {
  width: 23px;
  height: 23px;
  filter: brightness(0) saturate(100%) invert(52%) sepia(0%) saturate(0%)
    hue-rotate(0deg);
  transition: filter 0.2s ease;
}

.nav_item.active img {
  filter: invert(83%) sepia(17%) saturate(1116%) hue-rotate(187deg)
    brightness(94%) contrast(92%);
}

.nav_item span {
  font-size: 12.9px;
  font-weight: 500;
  line-height: 1px;
  color: #a9a9a9;
}

.nav_item.active span {
  color: #a1bef1;
}

.bottom_nav .nav_item,
.bottom_nav .nav_item span,
.bottom_nav .nav_item.active span {
  text-decoration: none;
}
